<div class="text-center">
    <form id="loginForm" style=" width:800px; height:800px;   display: inline-block; width:auto;">
        <div class="mb-3">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="login">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@{
    await Html.RenderPartialAsync("~/Views/Shared/_Modals.cshtml");
}

